{% extends "frige/base.html" %}
{% block static %}
<!--이 곳에 static에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}

{% block content %}
<div class="container">
    <h3>냉장고 물품 기입하기</h3>
    <div class="container">
        <form action="addrecord/" method="post">
            {% csrf_token %}
            물품 : <input name="item"><br>
            냉장고에 들어간 날짜 : <input name="date_add_frige" type="date"><br>
            냉장/냉동 선택 : <select name="freezing">
                            <option value="냉장">냉장</option>
                            <option value="냉동">냉동</option>
                          </select><br>
            유통기한 : <input name="date_expire"><br>
            수량 : <input name="quantity"><br>
            출처 : <input name="source"><br>
            기타 : <input name="etc"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}