{% extends "base.html" %}
{% block static %}
<!--이 곳에 static에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}
{% block style %}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>냉장고</h3>
            {% for x,y in myFrigeItem %}
            <div class="container bg-light" ondrop="updateToFrige(event)" ondragover="event.preventDefault()">
                <!-- <h5>{{ x }}</h5> -->
                <ul class="list-group">
                    {% for z in y %}
                    <li class="list-group-item" id="{{ z.id }}" draggable="true" ondragstart="drag(event)" style="text-align:center" onclick="update({{z.id}})">
                        <div class="ms-2 me-auto">
                            <span class="fw-bold">{{ z.item }}</span>
                            <span class="badge bg-dark rounded-pill">{{ x }}</span>
                        </div>

                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="col">
            <h3>냉동고</h3>
            {% for x,y in myFrigeItem_Ice %}
                <div class="container bg-light" ondrop="updateToIce(event)" ondragover="event.preventDefault()">
                    <ul class="list-group">
                        {% for z in y %}
                        <li class="list-group-item" id="{{ z.id }}" draggable="true" ondragstart="drag(event)" style="text-align:center" onclick="update({{z.id}})">
                            <div class="ms-2 me-auto">
                                <span class="fw-bold">{{ z.item }}</span>
                                <span class="badge bg-dark rounded-pill">{{ x }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <h3>찬장</h3>
            {% for x,y in myFrigeItem_Cupboard %}
                <div class="container bg-light" ondrop="updateToCupboard(event)" ondragover="event.preventDefault()">
                    <ul class="list-group">
                        {% for z in y %}
                        <li class="list-group-item" id="{{ z.id }}" draggable="true" ondragstart="drag(event)" style="text-align:center" onclick="update({{z.id}})">
                            <div class="ms-2 me-auto">
                                <span class="fw-bold">{{ z.item }}</span>
                                <span class="badge bg-dark rounded-pill">{{ x }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
function drag(ev) {
    ev.dataTransfer.setData('text', ev.target.id);
    console.log(ev.target.id);
}
function update(id) {
    window.location.href= 'update/'+id;
}
function updateToFrige(ev) {
    //ev.preventDefault();
    var id = ev.dataTransfer.getData('text');
    //console.log(id);
   window.location.href='updateToFrige/'+id;
}
function updateToIce(ev) {
    //ev.preventDefault();
    var id = ev.dataTransfer.getData('text');
    //console.log(id);
   window.location.href='updateToIce/'+id;
}
function updateToCupboard(ev) {
    //ev.preventDefault();
    var id = ev.dataTransfer.getData('text');
    //console.log(id);
   window.location.href='updateToCupboard/'+id;
}
function deleteItem(id) {
    console.log('delete'+id);
    window.location.href='delete/'+id;
}

{% endblock %}