{% extends "base.html" %}
{% block static %}
<!--이 곳에 static에 해당하는 코드 (css파일 연결 등) 작성-->
{% endblock %}
{% block style %}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>냉장고</h3>
            {% for x,y in myFrigeItem %}
                <div class="container bg-light">
                    <h5>{{ x }}</h5>
                        <div class="container">
                            {% for z in y %}
                                <a href="update/{{z.id}}/">[{{ z.item }}]</a>
                                {% if forloop.counter|divisibleby:5 %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <br>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <h3>냉동고</h3>
            {% for x,y in myFrigeItem_Ice %}
                <div class="containter" style="background-color:#f8f9fa">
                    <h5>{{ x }}</h5>
                        <div class="containter">
                            {% for z in y %}
                                <a href="update/{{z.id}}/">[{{ z.item }}]</a>
                                {% if forloop.counter == 5 %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <br>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <h3>찬장</h3>
            {% for x,y in myFrigeItem_Cupboard %}
                <div class="containter" style="background-color:#f8f9fa">
                    <h5>{{ x }}</h5>
                        <div class="containter">
                            {% for z in y %}
                                <a href="update/{{z.id}}/">[{{ z.item }}]</a>
                                {% if forloop.counter == 5 %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
